# 项目信息
site_name: Nano-ELC's Docs
site_url: https://nano-elc.github.io/myweb/
site_author: Nano_ELC
site_description: 一个知识分享与读书杂谈的博客网站
# 代码仓库信息
repo_name: myweb
repo_url: https://github.com/Nano-ELC/myweb

# 版权信息
copyright: "&copy; 2026 Mydocs Nano-ELC"

# 配置
theme:
  favicon: assets/logo.png
  custom_dir: overrides
  name: material
  logo: assets/logo.png
  language: zh
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips

    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.path
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: theme
      primary: cyan
      accent: amber
      toggle:
        icon: material/weather-night
        name: 浅色
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/brightness-4
        name: 深色

  icon:
    logo: logo
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
    admonition:
      info: fontawesome/solid/rocket
      note: fontawesome/solid/pen-fancy
      abstract: fontawesome/solid/list
      tip: fontawesome/solid/lightbulb
      success: fontawesome/solid/check
      question: fontawesome/solid/hand
      warning: fontawesome/solid/triangle-exclamation
      failure: material/alien
      danger: fontawesome/solid/virus
      bug: fontawesome/solid/robot
      example: fontawesome/solid/ship
      quote: fontawesome/solid/link
    tag:
      default-tag: fontawesome/solid/tag
      hardware-tag: fontawesome/solid/microchip
      software-tag: fontawesome/solid/laptop-code

# Plugins
plugins:
  - blog
  - statistics:
      words_per_minute: 290   
  - tags
  - search

# 导航树
nav:
  - 首页: index.md
  - 学习笔记:
    - 笔记首页: NOTE/index.md
    - 数理基础:
      - 数学分析Ⅱ(H): NOTE/Math/Analysis/Analysis_pdf.md
      - 普通物理学Ⅱ(H): NOTE/Physics/Generalphysics2/Generalphysics2.md
  - Hertoffee: blog/index.md
  - 读书杂谈:
    - ElegantNonsencials: Reading/index.md
    - 智慧的疆界: Reading/The Boundaries of Intelligence/The Boundaries of Intelligence.md
  - 未竟之旅:
    - VoyageLeftUndone: VoyageLeftUndone/index.md
    - Markdown不完全指北: VoyageLeftUndone/markdown/mymarkdown.md
# Markdown 扩展
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 4
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
      noclasses: false
      css_class: highlight
      linenums_style: table
      linenums_special: 1
      linenums_class: linenums
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.critic:
      mode: view

extra_javascript:
  - https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js
  - https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js
  - javascripts/katex.js
  - javascripts/pdf-optimizer.js
  - https://unpkg.com/mermaid/dist/mermaid.min.js


extra_css:
  - https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css
  - css/extra.css
  - https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.css
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css

# 额外配置
extra:
  generator: false
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: G-J16B5YYFB4
    events: true
    behavior: true
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Nano-ELC
      name: My GitHub
  tags:
    Default: default-tag
    Hardware: hardware-tag
    Software: software-tag